<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet" />
    <title>Weather-App</title>
  </head>
  <body style="background-color:seashell;">
    <article class="widget">
        <link rel="stylesheet" type="text/css" href="wt.css" /> 
        <div class="weatherIcon"><i class="wi wi-day-cloudy"></i></div>
        <div class="weatherInfo">
          <center>
          <form class="cityinput" action="/" method="POST">
            <div class="mb-3">
              <h1>Wheather Application</h1>
              <h2>City name : </h2>
              <!-- <label for="exampleInputEmail1" class="form-label">City Name</label>
              <input type="text" class="form-control" id="exampleInputEmail1"     aria-describedby="emailHelp"> -->
              <input type="text" name = "city_name" >
            </div>
        
            <button type="submit" class="btn btn-primary">Enter </button>
            </form><br>

            <div class="temperature">
                {% if temp %}
                <div class="temperature"><span><h1>Temprature : {{temp}}&deg;</h1></span></div>
                {% endif %}
            </div>

            <div class="description">
                {% if temp %}
                <div><span><h1>{{day_time}}&deg;</h1></span></div>
                {% endif %}
            </div>
    
          </center>
        </div>
    </article>
  </body>
</html>

